.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas {
  width: 100vw;
  height: 100vh;
}

 .loadingBar {
  position: absolute;
  top: 52%;
  width: 100%;
  height: 2px;
  background: black;
  transform: scaleX(0);
  transform-origin: top center;
  transition: transform 0.5s;
  will-change: transform;
}

.loadingBar.ended {
  transform-origin: top center;
  transition: transform 1.5s ease-in-out;
}

.text{
  animation: flash 1s linear infinite;
  position: absolute;
  top: 45%;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color:black;
  font-family: 'Playfair Display', serif;
}

@keyframes flash {
  0%,100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}